<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81111367204-f2ehu7jo6a2oed8qc829l6gt3oq76r73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81111367204-f2ehu7jo6a2oed8qc829l6gt3oq76r73</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>81111367204-54qpkdu9rfarnrucjo6go6khm4a0kpon.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBN_116nxkGtmroAPp5LRUuZjUFWoAHob8</string>
	<key>GCM_SENDER_ID</key>
	<string>81111367204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.monitoring.tilapiasync</string>
	<key>PROJECT_ID</key>
	<string>aquatech-monitoring</string>
	<key>STORAGE_BUCKET</key>
	<string>aquatech-monitoring.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81111367204:ios:6038da49d208ac653262b1</string>
</dict>
</plist>